.mainContainer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 87vh;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    width: 100vw;
}